// =========================================================
// HUGE COMPANY — UTILITIES
// =========================================================

.BC-DBlue {
  color: var(--bc-dblue);
}

.BC-DYellow {
  color: var(--bc-dyellow);
}

.BC-LGrey {
  color: var(--bc-lgrey);
}

.BC-DGrey {
  color: var(--bc-dgrey);
}

.BC-White {
  color: var(--bc-white);
}

.BC-Black {
  color: var(--bc-black);
}

.BG-DBlue {
  background: var(--bc-dblue);
}

.BG-DYellow {
  background: var(--bc-dyellow);
}

.BG-LGrey {
  background: var(--bc-lgrey);
}

.BG-DGrey {
  background: var(--bc-dgrey);
}

.BG-White {
  background: var(--bc-white);
}

.BG-Black {
  background: var(--bc-black);
}

.effra {
  font-family: "Effra", sans-serif;
}

.pls {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.effra-900 {
  font-family: "Effra", sans-serif;
  font-weight: 900;
}

.pls-400 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

.pls-500 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

.pls-600 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}

.pls-700 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}